[Desktop Entry]
Name=Sortierung
Comment=launch Sortierung.py
Path=/home/ML_Labor/MLL/Steuerung_Versuchsstand
Exec=/home/ML_Labor/MLL/Steuerung_Versuchsstand/sortierung.py
Icon=/home/ML_Labor/Deckel_icon.png
Terminal=false
Type=Application
X-KeepTerminal=false
